dskwrite
dskread
dskmgmt
*.o
*~
*.la
*.lo
.libs
m4
config.guess
config.sub
libtool
ltmain.sh
configure
Makefile
Makefile.in
configure
aclocal.m4
autom4te.cache
config.h.in
depcomp
install-sh
missing
.deps
config.h
config.log
stamp-h1
config.status
